@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: auto;
  padding: 0% 10%;
  background: white;
  transition: 0.5s;
  padding-bottom: 100px;
}

.app.dark {
  background-color: #15202b;
  color: #ffffff;
}

.app.dark h1,
.app.dark p,
.app.dark b,
.app.dark a,
.app.dark button {
  color: #ffffff;
}

.app.dark button {
  transition: 0.5s;
}

.app.dark button:hover {
  color: #49557e;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
